<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Welcome to my homepage.">
    <meta name="author" content="Jackson Wu">

    <title>{% block title %}Jackson Wu{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header role="banner">
        <nav class="h4" role="navigation">
            <a {% if request.path == '/' %} class="active" {% endif %} 
            href="{{ url_for('index') }}">About</a> |
            <a {% if request.path == '/projects' %}class="active"{% endif %} 
            href="{{ url_for('projects') }}">Projects</a>
        </nav>
    </header>
    <main id="content" role="content">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>