{% extends "homepage/base.html" %}
{% set active_page = "notes" %}

{% block title %}Jackson Wu - Notes{% endblock %}

{% block content %}
<div id="notes">
  {% if error %}
  <div class="message">
    <h1>My notes are unavailable at the moment.<h1>
  </div>
  {% else %}
    <div class="heading">
      <h1 class="title">Notes</h1>
      <p class="secondary">Some of my thoughts, guides, and tips</p>
    </div>
    {% if posts|length < 1 %}
      <div class="message">
        <h1>No notes have been added yet...</h1>
      </div>
    {% else %}
    <ul class="post-list">
    {% for post in posts %}
    <li class="post-link">
      <a href="/notes/{{ post.id }}/{{ post.slugify }}">
        <div class="pure-g">
          <div class="post-title pure-u-1 pure-u-md-20-24">{{ post.title }}</div>
          <div class="post-date pure-u-1 pure-u-md-4-24">{{ post.date }}</div>
        </div>
      </a>
    </li>
    {% endfor %}
    </ul>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
