{% extends "homepage/base.html" %}
{% set active_page = "projects" %}
{% block title %}Projects{% endblock %}

{% block content %}
<section id="projects">
  <div class="jumbotron jumbotron-project">
    <div class="container">
      <h1 class="page-title">Projects</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      {% if error %}
      <div class="message project-item">
        <h2>ERROR: Projects cannot be accessed.</h2>
      </div>
      {% else %} 
        {% if projects|length < 1 %} 
        <div class="message project-item">
          <h2>No projects have not been added.</h2>
        </div>
        {% else %} 
        {% for project in projects %}
        <div class="col-md-8 project-item">
          <h2>
            <a href="{{ project.url }}" target="_blank">
              <span class="glyphicon glyphicon-new-window icon-size" aria-hidden="true"></span>
              {{ project.title }}</a>
          </h2>
          <p class="description">{{ project.description }}</p>
          <p class="tags">
            {% for tag in project.tags %}
              <span class="label label-default">{{ tag }}</span>
            {% endfor %}
          </p>
        </div>
        {% endfor %} 
        {% endif %} 
      {% endif %}
      </ul>
    </div>
  </div>
</section>
{% endblock %}