html {
    height: 100%;
    font-family: "Istok Web", Verdana, sans-serif;
    font-size: 100%;
    font-size: calc(1rem + .5vw);
    overflow-y: scroll;
    box-sizing: border-box;
}

body {
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #ecf0f1;
    padding: 0 1rem;
    max-width: 50rem;
    margin: 0 auto;
}

#a_code {
    color: #27ae60;
    opacity: .5;
}

#a_code:hover {
    opacity: 1;
}

#a_mail {
    color: #c0392b;
    opacity: .5;
}

#a_mail:hover {
    opacity: 1;
}

main,
section,
article {
    display: block;
    padding-top: 30vh;
    padding-bottom: 20vh
}

#content {
    opacity:0;
    -webkit-animation: opacity .5s ease-in .25s forwards;
    animation: opacity .5s ease-in .25s forwards;
}

@-webkit-keyframes opacity {
    to {
        opacity: 1;
    }
}
@keyframes opacity {
    to {
        opacity: 1;
    }
}

header {
    position: absolute;
    top: 25vh;
    left: 1rem;
    z-index: 2;
}

a {
    text-decoration: none;
}

nav a {
    color: #3498db;
    opacity: .3;
}

nav a:hover {
    opacity: 1;
}

.active {
    opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin-top: 2em;
    margin-bottom: .5em;
    max-width: 28rem;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1rem;
}
p,
ul {
    list-style: none;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 25rem;
}



.h1 {
    font-size: 2rem;
}
.h2 {
    font-size: 1.5rem;
}
.h3 {
    font-size: 1.25rem;
}
.h4 {
    font-size: 1rem;
}
.h5 {
    font-size: .875rem;
}
.h6 {
    font-size: .75rem;
}
.mb0 {
    margin-bottom: 0;
}
.mt0 {
    margin-top: 0;
}
.mr1 {
    margin-right: 1rem;
}
.mr05 {
    margin-right: .25rem;
}
.mb4 {
    margin-bottom: 4rem;
}
.caps {
    text-transform: uppercase;
    letter-spacing: .2em;
}


/*
@media only screen and (min-width:40.063em) {
    #index {
      max-width:90%;
      margin:auto;
    }
    #resume {
      max-width:80%;
      margin:auto;
    }
    #projects {
        max-width:90%;
        margin:auto;
    }
    #notes {
        max-width:90%;
        margin:auto;
    }
    #page {
      max-width:90%;
      margin:auto;
    }
    .pure-menu {
      font-size:1em;
    }
}
@media only screen and (min-width:64.063em) {
    #container {
        min-height:100%;
    }
    #wrapper {
        padding-bottom:2em;
        max-width:1000px;
        margin:auto;
    }
}
*/